<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">
  
  <object name="ftpClientForm" type="FtpClient.FtpClientForm, FtpClient">
    <property name="ftpSettings" ref="ftpSettings"/>
    <property name="watchDogForm" ref="watchDogForm"/>
    <property name="uploadImageQueue" ref="uploadImageQueue"/>
  </object>

  <object name="watchDogForm" type="FtpClient.WatchDogForm, FtpClient">
    <property name="uploadImageQueue" ref="uploadImageQueue"/>
  </object>

  <object name="richFtpClient" type="FtpClient.RichFtpClient, FtpClient">
    <property name="bDirty" value="false"/>
    <property name="bIsWatching" value="false"/>
    <property name="ftpFolder" value="/test/data/1/3"/>
  </object>
</objects>
