<?xml version="1.0" encoding="utf-8" ?>
<!--复制此文档各种Ioc定义方式到需要的地方-->
<objects xmlns="http://www.springframework.net">
  
  <object name="ftpClientForm" type="FtpClient.FtpClientForm, FtpClient">
    <property name="_ftpSettings" ref="_ftpSettings"/>
    <property name="_watchDogForm" ref="_watchDogForm"/>
  </object>

  <object name="_watchDogForm" type="FtpClient.WatchDogForm, FtpClient">
  </object>
</objects>
